.container {
    box-sizing: border-box;
    border-style: dashed;
    border-color: #888888;
    background-color: #999999;
    margin: 20px;
    padding: 20px;
}
.item {
    box-sizing: border-box;
    list-style: none;
    background-color: white;
    border: 1px solid #cc0000;
    margin-top: 20px;
    padding: 0px 10px 10px 10px;
    background-image: linear-gradient(to right, #CE5A5A, white 20%);
}
.item:first-child {
    margin-top: 0px;
}