.button {
    box-sizing: border-box;
    cursor: pointer;
    float: right;
    padding: 2px 0.5em;
    color: white;
    background-color: #cc0000;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #bababa;
    border-right: 1px solid #d1d1d1;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.button:hover {
    color: #c60000;
    background-color: white;
}